* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-snap-type: y mandatory;
  background-color: #000;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
