* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scrollbar-color: #cbaa00 #7c7c7c;
}

html {
  background-color: black;
}
